/* General */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;    
}

/* margin and padding are used to create space around elements */
/* margin is the space outside the element, padding is the space inside the element */

body { 
    font-family: "Poppins", sans-serif;
}

html {
    scroll-behavior: smooth;
}

/* smooth scrolling when clicking on links */

p {
    color: rgb(85, 85, 85);
}

/* TRANSITION */

a, .btn{
    transition: all 300ms ease;
}

/* DESKTOP NAV */

nav, 
.nav-links {
    display: flex; 

}
/* display property tells us how things are arranged on the page*/
/* can be inline, block, flex, grid, etc. */
/* flex can make your element on the left/right and adjust it with view width (vw)*/


nav {
    justify-content: space-around;
    align-items: center;
    height: 17vh;
}
/* justify-content: space-around means the items will be spaced out evenly in the nav bar */
/* align-items: center means the items will be centered vertically in the nav bar */
/* 17 vh takes up 17% of the screen */

.nav-links {
    gap: 2rem;
    list-style: none;
    font-size: 1.5rem;

}
    /* gap is the space between flex items */
    /* rem is a unit of measurement in front end development (kind of like pixels)*/
    /* list-style removes the bullet points from the list */

a {
    color: black;
    text-decoration: none;
    text-decoration-color: white;
}

a:hover {
    color: grey;
    text-decoration: underline;
    text-underline-offset: .75rem;
    text-decoration-color: rgb(181, 181, 181);

}

/* text-decoration is used to specify the decoration added to a text*/
/* text-deco-color sets colour of text */
/* text-deco-underline creates underline under text */

.logo {
    font-size: 2rem;
}
/* changes the size of the logo, in this case it's my name */

.logo:hover{
    cursor: default;
}

/* cursor: default means the cursor will not change when hovering over the logo */
/* cursor: pointer means the cursor will change when hovering over the logo */

/* HAMBURGER MENU */

#hamburger-nav {
    display: none;
}
/* on desktop, the hamburger menu won't show up */

.hamburger-menu {
    position: relative;
    display: inline-block;
}

.hamburger-icon{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    cursor: pointer;
}
/* flex-direction: column means the items will be arranged in a column */
/* justify-content: space-between means the items will be spaced out evenly in the column */
/* height and width are the size of the hamburger icon */
/* cursor: pointer means the cursor will change when hovering over the hamburger icon */

.hamburger-icon span {
    width: 100%;
    height: 2px;
    background-color: black;
    transition: all 0.3 ease-in-out;
}
/* transition: all 0.3s ease in-out means the transition will take 0.3 seconds and will be smooth */
/* ease in-out means the transition will start slow, speed up, and then slow down again */

.menu-links {
    position: absolute;
    top: 100%;
    right: 0%;
    background-color: white;
    width: fit-content;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3 ease-in-out;
}
/* position: absolute means the element will be positioned relative to its closest positioned ancestor */
/* top: 100% means the element will be positioned 100% from the top of its closest positioned ancestor */
/* right: 0% means the element will be positioned 0% from the right of its closest positioned ancestor */
/* width: fit-content means the width of the element will be the same as the content inside it */
/* max-height: 0 means the element will be hidden by default */
/* overflow: hidden means the content will be hidden if it overflows the element */


.menu-links a {
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
    color: black;
    text-decoration: none;
    transition: all 0.3 ease-in-out;
}

.menu-links li {
    list-style: none;
}

.menu-links.open {
    max-height: 300px;
}

.hamburger-icon.open span:first-child {
    transform: rotate(45deg) translate(10px, 5px)
}

.hamburger-icon.open span:nth-child(2) {
    opacity: 0;
}

.hamburger-icon.open span:last-child {
    transform: rotate(-45deg) translate(10px, -5px)
}

/* rotate(45deg) means the first span will be rotated 45 degrees */
/* translate(10px, 5px) means the first span will be moved 10 pixels to the right and 5 pixels down */
/* opacity: 0 means the second span will be hidden */

.hamburger-icon span:first-child {
    transform: none;
    
}
.hamburger-icon span:first-child {
    opacity: 1;

}
.hamburger-icon span:first-child {
    transform: none;

}

/* transform: none means the first span will not be transformed */

/* SECTIONS */

section {
    padding-top: 4vh;
    height: 96vh;
    margin: 0 10rem;
    box-sizing: border-box;
    min-height: fit-content;
}

.section-container{
    display: flex;
}

/* PROFILE SECTION */

#profile {
    display: flex;
    justify-content: center;
    gap: 5rem;
    height: 80vh;
}


.section__pic-container {
    display: flex;
    height: 400px;
    width: 400px;
    margin: auto 0;
}

.section__text {
    align-self: center;
    text-align: center;
}

.section__text p {
    font-weight: 600;
}

.section__text__p1 {
    text-align: center;
}
.section__text__p2 {
    font-size: 1.75rem;
    margin-bottom: 1rem;
}

.title { 
    font-size: 3rem;
    text-align: center;
}

#socials-container {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem;
}

/* ICONS */

.icon {
    cursor: pointer;
    height: 2rem;
}

/* BUTTONS */

.btn-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.btn {
    font-weight: 600;
    transition: all 300ms ease;
    padding: 1rem;
    width: 8rem;
    border-radius: 2rem;
}

.btn-colour-1, 
.btn-colour-2 {
    border: rgb(53, 53, 53) 0.1rem solid;
}

.btn-colour-1:hover, 
.btn-colour-2:hover {
    cursor: pointer;
}

.btn-colour-1, 
.btn-colour-2:hover {
    background: rgb(52, 53, 53);
    color: white;
}

.btn-colour-1:hover {
    background: rgb(0, 0, 0);
}

.btn-colour-2 {
    background: none;
}

.btn-colour-2-hover { 
    border: rgb(255, 255, 255) 0.1rem solid;
}

.btn-container { 
    gap: 1rem;
}

/* ABOUT SECTION */

#about {
    position: relative;
}

.about-containers {
    gap: 2rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.about-details-container {
    justify-content: center;
    flex-direction: column;
}

.about-containers,
.about-details-containers {
    display: flex;

}

.about-pic {
    border-radius: 2rem;
}

.arrow {
    position: absolute;
    right: -5rem;
    bottom: 2.5rem;
}

.details-container {
    padding: 1.5rem;
    flex: 1;
    background: white;
    border-radius: 2rem;
    border: rgb(53, 53, 53) 0.1rem solid;
    border-color: rgb(163, 163, 163);
    text-align: center
}

.section-container{
    gap: 4rem;
    height: 80%;
}

.section__pic-container{
    height: 400px;
    width: 400px;
    margin: auto 0;
}